body {
    font-family: 'Roboto', sans-serif;
}


/* Navbar */
.navbar {
  position: static;
  z-index: 1;
     background: #252525 !important; 
}

 .nav-link {
   color: #e8eae6;
   margin-right: 70px;
   padding-left: 25px;
 }  

.nav-link:hover {
    text-decoration-line: underline;
    color: #fff !important; 
}

.navbar-brand {
  font-size: 24px;
}

/* End of Navbar*/

/* Banner Section */

.main-section {
  background-color:#7e7474
}

.bg-image {
  position: bottom no-repeat cover;
  margin: -2px;
  padding: 0;
  height: 100%;
}

.text {
    position: absolute;
    top: 15%; 
    right: 50%;
    transform: translate(50%,-50%);
    /* text-transform: uppercase; */
    font-family: roboto;
    font-size: 55px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); 
}

@media (max-width: 780px) {
  .text {
    font-size: 32px;
  }
}
 /* End of Main Section */

/* About section */

.about-container {
  background-color: #ebebeb;
  box-shadow: 0 0 20px black;
}

.about-pic {
  height: 300px;
  width: 300px;
  margin-left: 35px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

/* Skills Section */
.skills-container {
      width: 90%;
      background-color: rgb(231, 231, 231);
      border-radius: 20px;
   }

   .html, .css, .python, .js {
      text-align: center;
      font-weight: 300;
      color: white;
      border-radius: 20px;
   }
   .html {
      width: 80%;
      background-color: #4caf50;
   }
   .css {
      width: 70%;
      background-color: #2196f3;
   }
   .python {
      width: 65%;
      background-color: #f44336;
   }
   .js {
      width: 50%;
      background-color: #808080;
   }



